{% extends 'base.html' %}

{% block content %}
<div id="page">
    <div id="content">
        {% for post in post %}

        <div class="post">
            <h2 class="title"><a href=" {% url 'posts:detail' post.id %} ">{{post.title}}</a></h2>
            <p class="meta"><span class="date">{{post.created_data}}</p><p class="meta"></span>{%for name in post.creators.all%}<span class="date">Muallif: <a href="#">{{name.name}}</a></span></p>{% endfor %}
            <div style="clear: both;">&nbsp;</div>
           <p class="meta"> <span class="date">👁{{post.sees}}</span></p>

           <p class="meta"> <span class="date">📥{{post.downloads}}</span></p>
            <div style="clear: both;">&nbsp;</div>
            <div class="entry">
                <p>{{post.body}}</p>
                
                <object data="{{post.fileURL }}" type="application/pdf" width="100%" height="100%">
                    <p>Alternative text - include a link <a href="{{post.fileURL }}">to the PDF!</a></p>
                  </object>
                  <button onclick="downloadFile('{{ post.fileURL }}', '{{ post.id }}')"><a href="{{post.fileURL }}" download="{{post.title}}">Download file</a></button>
            </div>
        </div>

        <div style="clear: both;">&nbsp;</div>
    </div>
</div>



{% endfor %}



{% endblock content %}