{% extends 'base.html' %}

{% block content %}
	<div id="page">
		<div id="content">
			{% for post in posts %}

			<div class="post">
				<h2 class="title"><a href=" {% url 'posts:detail' post.id %}" onclick="seedFile('{{ post.fileURL }}', '{{ post.id }}')">{{post.title}}</a></h2>
				<p class="meta"><span class="date">{{post.created_data}}</p><p class="meta"></span><span class="date">Muallif: <a href="{% url 'posts:creatordetail' post.creators.id %}">{{post.creators}}</a></span></p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>{{post.body}}</p>
					
					<p><a href=" {% url 'posts:detail' post.id %}" class="more">To'liq>>></a></p>
				</div>
			</div>
			{% endfor %}

			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<div id="search" >
						<form method="get" action=".">{% csrf_token %}
							<div>
								<input type="text" name="q" id="search-text" value="" />
								<input type="submit" id="search-submit" value="🔍" />
							</div>
						</form>
					</div>
					<div style="clear: both;">&nbsp;</div>
			{% if query %}
				
				</li>
					<h2>topilmadi...</h2>
					<li>

				{% if result %}
				<ul class="searchResults list-style-disc">
				{% for item in result %}
				<li><a href= {% url 'posts:detail' item.id %}>{{ item.title }}</a></li>
				{% endfor %}
				</ul>
				{% else %}
				<p>O'zbekcha kitob topilmadi</p>
				{% endif %}
			{% endif %}
		</li>

		
				<li>
					<h2>Aliquam tempus</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
				</li>
				<li>
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
				<li>
					<h2>Blogroll</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
				<li>
					<h2>Archives</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
{% endblock content %}