{% extends 'base.html' %}

{% block content %}
	<div id="page">
		<div id="content">
			{% for post in posts %}

			<div class="post">
				<h2 class="title"><a href=" {% url 'posts:detail' post.id %}" onclick="seedFile('{{ post.fileURL }}', '{{ post.id }}')">{{post.title}}</a></h2>
				<p class="meta"><span class="date">{{post.created_data}}</p><p class="meta"></span><span class="date">Muallif: <a href="{% url 'posts:creatordetail' post.creators.id %}">{{post.creators}}</a></span></p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>{{post.body}}</p>
					
					<p><a href=" {% url 'posts:detail' post.id %}" class="more">To'liq>>></a></p>
				</div>
			</div>
			{% endfor %}

			<div style="clear: both;">&nbsp;</div>
			{% if posts.has_other_pages %}
			<nav>
			  <ul class="pagination justify-content-center">
				{% if posts.has_previous %}
				  <li class="page-item">
					<a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
					  <span aria-hidden="true">&laquo;</span>
					</a>
				  </li>
				{% else %}
				  <li class="page-item disabled">
					  <span class="page-link" aria-hidden="true">&laquo;</span>
				  </li>
				{% endif %}
		
				{% for p in posts.paginator.page_range %}
				  {% if posts.number == p %}
					<li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
				  {% else %}
					<li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
				  {% endif %}
				{% endfor %}
		
				{% if posts.has_next %}
				  <li class="page-item">
					<a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
					  <span aria-hidden="true">&raquo;</span>
					</a>
				  </li>
				{% else %}
				  <li class="page-item disabled">
					<span class="page-link" aria-hidden="true">&raquo;</span>
				  </li>
				{% endif %}
			</ul>
			</nav>
		  {% endif %}
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<div id="search" >
						<form method="get" action=".">{% csrf_token %}
							<div>
								<input type="text" name="q" id="search-text" value="" />
								<input type="submit" id="search-submit" value="🔍" />
							</div>
						</form>
					</div>
					<div style="clear: both;">&nbsp;</div>
			{% if query %}
				
				</li>
					<li>

				{% if result %}
				<ul class="searchResults list-style-disc">
				{% for item in result %}
				<li><a href= {% url 'posts:detail' item.id %}>{{ item.title }}</a></li>
				{% endfor %}
				</ul>
				{% else %}
				<h2>Qidiruv:</h2>
				<p>topilmadi...</p>

				{% endif %}
			{% endif %}
				</li>

		
				{% comment %} <li>
					<h2>Aliquam tempus</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
				</li> {% endcomment %}
				<li>
					<h2>Top</h2>
					<ul>{% for top in tops %}
						<li><a href="{% url 'posts:detail' top.id %}" onclick="seedFile('{{ top.fileURL }}', '{{ top.id }}')">{{top.title}}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li>
					<h2>Bizning maqolalar</h2>
					<ul>
						{% for rpost in r_posts %}
						<li><a href="{% url 'posts:detail' rpost.id %}" onclick="seedFile('{{ rpost.fileURL }}', '{{ rpost.id }}')">{{rpost.title}}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li>
					<h2>Archives</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
{% endblock content %}