{% load static %}


<!-- end #sidebar -->
<div style="clear: both;">&nbsp;</div>

<div id="footer-content">
	<div id="footer-bg" class="container">
		<div id="column1">
			<h2>Welcome to my website</h2>
			<p>In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
		</div>
		<div id="column2">
			<h2>Etiam rhoncus volutpat</h2>
			<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus consectetuer. Donec ipsum. Proin imperdiet est. Phasellus dapibus semper urna.</p>
		</div>
		<div id="column3">
			<h2>Recommended Links</h2>
			<ul>
				<li><a href="#">Consectetuer adipiscing elit</a></li>
				<li><a href="#">Metus aliquam pellentesque</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Proin gravida orci porttitor</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
<!-- end #footer -->
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    function downloadFile(file_url, id) {
        axios({
            method: "GET",
            url: file_url,
            responseType: 'blob',
            onDownloadProgress: event => {
                if (event.loaded === event.total) {
                    // send a GET request to the backend telling that download is complete
                    axios({
                            method: "GET",
                            url: "/post-downloaded/" + id, // send id of the post, user is downloading
                        })
                        .then(console.log("download incremented"))
                        .catch(error => console.log(error))
                }
            }
        }).then(response => {
            // download the file
            const aTag = document.createElement("a");
            aTag.href = URL.createObjectURL(resp.data);
            aTag.download = "filename." + resp.data.type.split("/")[1];
            aTag.click();
        })
    }
</script>
<script>
    function seedFile(file_url, id) {
        axios({
            method: "GET",
            url: file_url,
            responseType: 'blob',
            onDownloadProgress: event => {
                if (event.loaded === event.total) {
                    // send a GET request to the backend telling that download is complete
                    axios({
                            method: "GET",
                            url: "/post-seed/" + id, // send id of the post, user is downloading
                        })
                        .then(console.log("download incremented"))
                        .catch(error => console.log(error))
                }
            }
        }).then(response => {
            // download the file
            const aTag = document.createElement("a");
            aTag.href = URL.createObjectURL(resp.data);
            aTag.download = "filename." + resp.data.type.split("/")[1];
            aTag.click();
        })
    }
</script>
</html>
